<body>
  <section>
    <div class="map">
      <app-mapss></app-mapss>
    </div>
    
    <div class="placesblur"></div>
    <div class="places">
      <div class="profile-nav">
        <div class="profil1">
          <div class="photo">

          </div>
          <div class="name">
            <p id="profilename">Berkay Hüseyinoğlu</p>
            <p id="mail">thehuseyinoglu@gmail.com</p>
          </div>
          <div class="burger"></div>
        </div>
        <hr>
        <div class="profil2">
          <div class="location">
            <img src="./assets/Vector.png" alt="">
            <p>BURSA</p>
          </div>
          <input type="text">
          <input type="submit" value="">
        </div>
      </div>
      <div class="places-nav">
        <h1>Places</h1>
        <p>THERE ARE bu kadar places</p>
        <br>
        <div class="mekanlar">
          <div class="component-1">
            <div class="flex-wrapper-one">
              <div class="flex-wrapper-two">
                <img alt="" class="rectangle-10"
                  src="https://static.overlay-tech.com/assets/14676cb2-a9a0-457f-b9c2-77a38cb2ddb6.png" />
                <div class="flex-wrapper-four">
                  <p class="name">mekan ismi</p>
                  <p class="type">kategori</p>
                  <p class="address">
                    adress
                    sehir uzaklık metre uzaklıkta)
                  </p>
                </div>
              </div>
              <div class="flex-wrapper-three">
                <img alt="" class="vector"
                  src="https://static.overlay-tech.com/assets/495d2a90-52e8-40d2-a612-8911d95609c6.svg" /><img alt=""
                  class="group-4"
                  src="https://static.overlay-tech.com/assets/f57f573a-c758-4ca4-ab38-2d71b40d1ab2.svg" />
                <div class="group-6">
                  <img alt="" class="union-two"
                    src="https://static.overlay-tech.com/assets/a3bd923d-53dd-4803-afd9-3ef099534bf8.svg" />
                </div>
                <img alt="" class="group-4"
                  src="https://static.overlay-tech.com/assets/8bbd4b85-3131-4d8d-9a69-a85c3f818ca7.svg" />
              </div>
              <a href="http://localhost:8081/where/mekandetay" rel="noopener noreferrer">detay</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="navbar">
                
      <a href=""><img src="./assets/shop.png" alt=""></a>
      <a href=""><img src="./assets/yemek.png" alt=""></a>
      <a href=""><img src="./assets/mısır.png" alt=""></a>
      <a href=""><img src="./assets/gece.png" alt=""></a>
      <a href=""><img src="./assets/kahve.png" alt=""></a>
      <a href=""><img src="./assets/madalya.png" alt=""></a>
  
  </div>
    
  </section>
</body>