<body>
  <section>
    <div class="popup">
      <div class="header">
        <div class="frame-9">
          <img
            alt=""
            class="rectangle-8"
            src="https://static.overlay-tech.com/assets/c51bb24f-c24e-42c9-843e-a1903d25d6d9.png"
          />
          
          <div class="flex-wrapper-three">
            <p class="prens-onur-kitapevi">Prens Onur Kitapevi</p>
            <p class="kitapci">Kitapçı</p>
            <p class="fsm-bulvari-gazi-caddesi-haci-dayi-keba">
              Fsm Bulvarı Gazi Caddesi <br />
              (hacı Dayı Kebap Aralığı) (Gazi Caddesi), Bursa
            </p>
          </div>
          <div class="flex-wrapper-four">
            <div class="flex-wrapper-five">
              <div class="flex-wrapper-two">
                <p class="add">Add</p>
              </div>
              <div class="flex-wrapper-one">
                <p class="share">Share</p>
              </div>
            </div>
            <div class="scores">
              <div class="score">
                <p>Venue Score</p>
                <div class="point"><p>9.1</p></div>
                <p>367 Rating</p>
              </div>
              <div class="coronascore">
                <p>Corona Score</p>
                <div class="point"><p>7.2</p></div>
                <p>37 Rating</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="photo">
        <div class="photos">
          <h1>FOTOLAR GELCEK</h1>
        </div>
      </div>
      <hr>
      <div class="comments">
        <div class="comment">
          <div class="profile"></div>
          <input id="yorum" type="text">
          <input class="score1" type="text">
          <input class="score1" type="text">
          <input type="submit">
        </div>
      </div>
      <hr>
      <div class="clientcomments">
        <h4>Comments</h4>
        <div class="clientcomment">
          <div class="clientphoto"></div>
          <div class="client">
            <h6>isim</h6> 
            <p>yorum budurasd</p>

          </div>
        </div>
      </div>
    </div>
  </section>
</body>