<body>
    <section>
        <div class="content">
            <div class="photo">
                <img src="./assets/WHERE_.png" alt="" />
            </div>

            <div class="icerik">
                <p>Find your location and discover the city, all the places are <br/>
                    in the palm of your hand  <br/>
                    Join journey and discover different culture </p>
            </div>
            <div class="search">
                <input id="search1" type="" class="" placeholder="what am i searching?" formControlName="" />
                <img src="./assets/Vector.png" alt="">
                <input id="search2"  type="submit" value="Search" />
            </div>
            <div class="navbar">
                
                <a href=""><img src="./assets/shop.png" alt=""></a>
                <a href=""><img src="./assets/yemek.png" alt=""></a>
                <a href=""><img src="./assets/mısır.png" alt=""></a>
                <a href=""><img src="./assets/gece.png" alt=""></a>
                <a href=""><img src="./assets/kahve.png" alt=""></a>
                <a href=""><img src="./assets/madalya.png" alt=""></a>
            
            </div>
        </div>
    </section>
</body>